:root {
    --body-color: rgba(4, 25, 50, 0.404);
    --color-letra-1:wheat;
    --color-letra-2: #E8E8E8;
    --secondary-color: #2e3745;
    --main-color: rgba(61, 97, 128, 0.663);
    --header-footer-color: #E4DCCF;
    --box-shadow: aliceblue;
    --line-separator-color: #e4dccf53;
    --barra-porcentajes-color: #00334E;
    --barra-porcentajes-interno:#77ACF1;
    --hover-color: #e4dccf90;
    

    --font-family-title: 'Prosto One', cursive;
    --font-family-subtitile: 'Source Code Pro', monospace;
    --font-family-title2: 'Sofia Sans', sans-serif;
    --font-family-p: 'Shippori Mincho', serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background-color: var(--body-color);
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ------------------------------header---------------------------- */
header {
    width: 100%;
}

header .navegador {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto 0;
    background: var(--header-footer-color);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;

}

.menu_bar {
    display: none;
}

header .navegador ul {
    overflow: hidden;
    list-style: none;
}

header .navegador ul li {
    float: right;
}

header .navegador ul li a {
    color: var(--secondary-color);
    padding: 10px;
    display: block;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--font-family-p);
    font-weight: bold;
}

header .navegador ul li a:hover {
    box-shadow: 0 0 5px 1px var(--main-color);
}

.navegador ul .hover-redes a:hover {
    border-top-right-radius: 20px;
}

/* -----------------------Contenedor central----------------------- */
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* -------------------lado izquierdo------------------------------ */

.container .lado-izquierdo {
    position: relative;
    background-color: var(--main-color);
    padding: 40px;
}
.portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.imagen-personal img {
    width: 190px;
    height: 140px;
    border-radius: 80px;
    box-shadow: 0px 0px 15px 1px var(--barra-porcentajes-interno);
    overflow: hidden;
}
.description h1 {
    color: var(--color-letra-1);
    font-family: var(--font-family-title);
    font-size: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
}
.description h1, h3 {
    padding-bottom: 20px;
    border-bottom: 1px solid var(--line-separator-color);
}
.description h3 {
    color: #E8E8E8;
    font-family: var(--font-family-subtitile);
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
}

.conocimientos {
   padding-top: 50px; 
   padding-bottom: 20px;
   border-bottom: 1px solid var(--line-separator-color);
}
.titulo {
    color: var(--color-letra-1);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-size: 3rem;
}
.conocimientos ul {
    position: relative;
}
.conocimientos ul li {
    list-style: none;
    position: relative;
    margin: 20px 0;
}
.conocimientos ul li span {
    color: var(--color-letra-1);
    font-weight:400;
    font-size: 2rem;
}
.porcentaje {
    display: block;
    position: relative;
    width: 100%;
    height: 8px;
    background: var(--barra-porcentajes-color);
    margin: 20px 0 30px 0;
    border-radius: 20px;
    
}
.porcentaje div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #77ACF1;
    border-radius: 20px;
    box-shadow: 0 0 15px 1px #77acf1;
    
}

/* -----------------------lado derecho----------------------------- */

.container .lado-derecho {
    position: relative;
    background-color: var(--secondary-color);
    padding: 40px;
    
}
.contenido {
    margin-bottom: 50px;
    border-bottom: 1px solid var(--line-separator-color);
}
.contenido :last-child {
    margin-bottom: 0;
}
.title2 {
    color: var(--color-letra-1);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-family: var(--font-family-title2);
}
p {
    color: var(--header-footer-color);
    font-size: 2rem;
    text-align: justify;
    font-family: var(--font-family-p);
}
.contenido .box {
display: flex;
flex-direction: row;
margin: 20px 0;
}
.contenido .box .año-empresa {
    min-width: 150px;
}
.contenido .box .año-empresa h5 {
    text-transform: uppercase;
    color: var(--line-separator-color);
    font-weight: 700;
}
.contenido .box .text h4 {
    text-transform: uppercase;
    color: var(--barra-porcentajes-interno);
    font-size: 1.6rem;
}

form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
form label {
    color: var(--header-footer-color);
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 20px;
}
form label input {
    height: 30px;
    margin-top: 10px;
}
#btn-send {
    height: auto;
    padding: 15px;
    margin: 25px auto !important;
    width: 50%;
    background: var(--hover-color);
    border-radius: 20px;
    font-family: var(--font-family-p);
    font-weight: bold;
    border: none;
}
#btn-send:hover {
    background: var(--header-footer-color);
}
.boton-inicio {
    display: flex;
    justify-content: center;
    margin: 50px 0 20px 0;
    height: 30px;
    
}
.boton-inicio input {
    cursor: pointer;
}
.btn-arriba {
	display:none;
	padding:20px;
	background:var(--main-color);
	font-size:20px;
	color:var(--header-footer-color);
	border-radius: 50%;
    cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    box-shadow: 0 0 5px 1px var(--box-shadow);
}
.btn-arriba:hover {
    background: var(--barra-porcentajes-color);
}
/* ----------------------footer---------------------------------- */
footer {
    width: 100vw;
    max-width: 1000px;
    margin-bottom: 50px;
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 80px;
    background-color:var(--header-footer-color);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.social-media figure {
    cursor: pointer;
}
.social-media figure:hover {
    box-shadow: 0 0 5px 1px var(--main-color);
    border-radius: 50%;
}

.social-media img {
    width: 50px;
}

/* -------------------@media----------------------------------------- */

@media screen and (max-width: 1000px) {
    header .navegador {
        margin-top: 0;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    
    footer {
        margin-bottom: 0;
    }
    .container {
        grid-template-columns: repeat(1,1fr);
        position: static;
    }
    .container .lado-izquierdo {
        position: static;
    }
    .social-media {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width: 800px) {
header .navegador {
    width: 50%;
    height: auto;
    margin: 0;
    position: absolute;
    left: -100%;
    background: var(--hover-color);
}

header .navegador ul li {
    display: block;
    float: none;
    border-bottom: 1px solid var(--barra-porcentajes-color);
}

header .navegador ul li a:hover {
    background-color: var(--header-footer-color);
    box-shadow: 0 0 5px 1px var(--main-color);
}

.navegador ul .hover-redes a:hover {
    border-top-right-radius: 0px;
}

.menu_bar {
    display: block;
    width: 100%;
    background: var(--hover-color);
}

.menu_bar .btn-menu {
    display: block;
    padding: 20px;
    color: var(--barra-porcentajes-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.menu_bar:hover {
    background: var(--header-footer-color);
}

.social-media {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
}
